@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-first: 255, 255, 255;
  --text-first: 127, 129, 128;
  --text-second: 106, 108, 117;
  --dark-blue-color: 17, 60, 118;
  --sky-blue-color: 114, 189, 226;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-first: 0, 0, 0;
    --text-first: 255, 255, 255;
    --text-second: 255, 255, 255;
    --dark-blue-color: 17, 60, 118;
    --sky-blue-color: 114, 189, 226;
  }
} */


/* colors */

body {
  background-color: rgb(var(--background-first));
  color: rgb(var(--text-first));
  @apply px-[60px] py-[30px];
}

@media screen and (max-width: 640px) {
  body {
    @apply px-[20px] py-[5px];
  }
}

.tc-white-color {
  /* color : rgb(var(--background-first)); */
  color: white;
}

.tc-light-grey-color {
  color: rgb(var(--text-first));
}

.tc-dark-grey-color {
  color: rgb(var(--text-second));
}

.tc-dark-blue-color {
  color: rgb(var(--dark-blue-color));
}

.tc-sky-blue-color {
  color: rgb(var(--sky-blue-color));
}

.bc-white-color {
  background-color: rgb(var(--background-first));
}

.bc-light-grey-color {
  background-color: rgb(var(--text-first));
}

.bc-dark-grey-color {
  background-color: rgb(var(--text-second));
}

.bc-dark-blue-color {
  background-color: rgb(var(--dark-blue-color));
}

.bc-sky-blue-color {
  background-color: rgb(var(--sky-blue-color));
}

.bc-light-blue-color{
  background-color: #bfcbfc;
}

.bc-light-sky-blue-color {
  background-color: #cbeffa;
}

.chat-by-ai {
  @apply bc-light-sky-blue-color w-fit max-w-[70%] px-2 py-2 text-[12px] sm:text-sm   rounded-lg my-5 mr-auto;
}

.chat-by-user {
  @apply bc-light-sky-blue-color w-fit max-w-[70%] px-2 py-2 text-[12px] sm:text-sm rounded-lg my-5 ml-auto;
}